#lc-20a44321 {
    --section-heading-color: #fff;
    --section-font-color: #fff;
    --section-links-color: #fff;
    background-color: #08131c;
    background-image: url(https://storage.googleapis.com/limecube-live-0fa6e598/thumb%2Fpexels-images%2F1734629319_w1920_fcover.webp);
    --section-background-color: #08131c
}

#lc-20a44321 .lc-heading-size-1,
#lc-20a44321 .lc-heading-size-2,
#lc-20a44321 .lc-heading-size-3,
#lc-20a44321 .lc-heading-size-4,
#lc-20a44321 .lc-heading-size-5,
#lc-20a44321 .lc-heading-size-6,
#lc-20a44321 .lc-heading-size-custom,
#lc-20a44321 .lc-blog-title,
#lc-20a44321 .qms-simple-text-module h1,
#lc-20a44321 .qms-simple-text-module h2,
#lc-20a44321 .qms-simple-text-module h3,
#lc-20a44321 .qms-simple-text-module h4,
#lc-20a44321 .qms-simple-text-module h5,
#lc-20a44321 .qms-simple-text-module h6,
#lc-20a44321 .qms-simple-form-module h4,
#lc-20a44321 .qms-simple-form-module .lc-heading-separator,
#lc-20a44321 .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-title,
#lc-20a44321 .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-title a,
#lc-20a44321 .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-title,
#lc-20a44321 .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-title a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post .qms-blog-post-title a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post .qms-blog-post-title a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post .qms-blog-post-title a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post .qms-blog-post-title a,
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post .qms-blog-post-title a,
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post .qms-blog-post-title a,
#lc-20a44321 .qms-food-menu-module h1,
#lc-20a44321 .qms-food-menu-module h2,
#lc-20a44321 .qms-food-menu-module h3,
#lc-20a44321 .qms-food-menu-module h4,
#lc-20a44321 .qms-food-menu-module h5,
#lc-20a44321 .qms-food-menu-module h6,
#lc-20a44321 .qms-search-results h4,
#lc-20a44321 .qms-search-results h4 a {
    color: #fff
}

#lc-20a44321 .qms-simple-text-module *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-simple-form-module .field_name,
#lc-20a44321 .qms-simple-form-module .rx-label,
#lc-20a44321 .qms-simple-form-module .css-label-form,
#lc-20a44321 .qms-simple-form-module .lc-form-recaptcha-branding,
#lc-20a44321 .qms-simple-form-module .lc-form-recaptcha-branding a,
#lc-20a44321 .qms-testimonials-module .quote-card *:not(a),
#lc-20a44321 .qms-testimonials-module .quote-card:before,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item *:not(a),
#lc-20a44321 .qms-advanced-content-module.qms-advanced-accordion .qms-advanced-content-title,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-accordion .card .title:after,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-accordion .qms-advanced-content-title:after,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item *:not(a),
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .nav-tabs .qms-advanced-content-title,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs a.qms-advanced-content-title,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .qms-advanced-content-title:after,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-list *:not(a),
#lc-20a44321 .qms-advanced-content-module .limecube-list .qms-advanced-content-title,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-def-list *:not(a),
#lc-20a44321 .qms-before-and-after-gallery-module .qms-ba-gallery-heading *,
#lc-20a44321 .qms-before-and-after-gallery-module .qms-ba-gallery-description *:not(a),
#lc-20a44321 .qms-box-module .qms-box-module-layout-text-under-image *:not(a):not(.lc-button):not(.lc-button span):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-box-module .qms-box-module-layout-text-next-to-image *:not(a):not(.lc-button):not(.lc-button span):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-no-posts,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-food-menu-module *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-20a44321 .qms-search-results-page-description,
#lc-20a44321 .qms-grid-gallery-module .qms-grid-gallery-tags li,
#lc-20a44321 .qms-blog-post-info *,
#lc-20a44321 .lc-blog-word-count,
#lc-20a44321 .lc-comments-container .lc-comments-count>h5,
#lc-20a44321 .lc-comments-container .lc-snet-signin-help-text,
#lc-20a44321 .lc-comments-container .lc-form-recaptcha-branding,
#lc-20a44321 .lc-comments-container .lc-form-recaptcha-branding a,
#lc-20a44321 .lc-comments-container .lc-blog-post-comments * {
    color: #fff
}

#lc-20a44321 .qms-simple-text-module table tr,
#lc-20a44321 .qms-simple-text-module table td,
#lc-20a44321 .qms-simple-form-module .qms-button,
#lc-20a44321 .qms-simple-form-module .qms-button:hover,
#lc-20a44321 .qms-simple-form-module .qms-button:active,
#lc-20a44321 .qms-simple-form-module .qms-button:focus,
#lc-20a44321 .qms-simple-form-module .qms-button:visited,
#lc-20a44321 .lc-separator hr,
#lc-20a44321 .qms-spacer-divider-module hr {
    color: #fff;
    border-color: #fff
}

#lc-20a44321 .qms-testimonials-module .bx-wrapper .bx-pager.bx-default-pager a,
#lc-20a44321 .qms-advanced-accordion .qms-advanced-content-card,
#lc-20a44321 .qms-advanced-content-module .limecube-list>.title-line,
#lc-20a44321 .qms-advanced-content-module .limecube-list>.content-line,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .tab-content,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li.active,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li>a,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li>a:focus,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li>a:hover,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li:after,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .tab-content .tab-pane>.qms-advanced-content-card {
    border-color: #fff
}

#lc-20a44321 .qms-testimonials-module .bx-wrapper .bx-pager.bx-default-pager a.active,
#lc-20a44321 .qms-testimonials-module .bx-prev::before,
#lc-20a44321 .qms-testimonials-module .bx-prev::after,
#lc-20a44321 .qms-testimonials-module .bx-next::before,
#lc-20a44321 .qms-testimonials-module .bx-next::after {
    background-color: #fff;
    border-color: #fff
}

#lc-20a44321 .lc-blog-word-count svg {
    fill: #fff
}

#lc-20a44321 .lc-heading-size-1 a,
#lc-20a44321 .lc-heading-size-1 a em,
#lc-20a44321 .lc-heading-size-1 a strong,
#lc-20a44321 .lc-heading-size-2 a,
#lc-20a44321 .lc-heading-size-2 a em,
#lc-20a44321 .lc-heading-size-2 a strong,
#lc-20a44321 .lc-heading-size-3 a,
#lc-20a44321 .lc-heading-size-3 a em,
#lc-20a44321 .lc-heading-size-3 a strong,
#lc-20a44321 .lc-heading-size-4 a,
#lc-20a44321 .lc-heading-size-4 a em,
#lc-20a44321 .lc-heading-size-4 a strong,
#lc-20a44321 .lc-heading-size-5 a,
#lc-20a44321 .lc-heading-size-5 a em,
#lc-20a44321 .lc-heading-size-5 a strong,
#lc-20a44321 .lc-heading-size-6 a,
#lc-20a44321 .lc-heading-size-6 a em,
#lc-20a44321 .lc-heading-size-6 a strong,
#lc-20a44321 .lc-heading-size-custom a,
#lc-20a44321 .lc-heading-size-custom a em,
#lc-20a44321 .lc-heading-size-custom a strong,
#lc-20a44321 .qms-simple-text-module a,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item a,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item a,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-list a,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-def-list a,
#lc-20a44321 .qms-before-and-after-gallery-module .qms-ba-gallery-description a,
#lc-20a44321 .qms-simple-text-module a strong,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item a strong,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item a strong,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-list a strong,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-def-list a strong,
#lc-20a44321 .qms-before-and-after-gallery-module .qms-ba-gallery-description a strong,
#lc-20a44321 .qms-simple-text-module a em,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item a em,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item a em,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-list a em,
#lc-20a44321 .qms-advanced-content-module.qms-advanced-def-list a em,
#lc-20a44321 .qms-before-and-after-gallery-module .qms-ba-gallery-description a em,
#lc-20a44321 .qms-search-results-page-link a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post-excerpt a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post-excerpt a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post-excerpt a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post-excerpt a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post-categories a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post-categories a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post-categories a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post-categories a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post-tags a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post-tags a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post-tags a,
#lc-20a44321 .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post-tags a,
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post-excerpt a,
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post-excerpt a,
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post-categories a,
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post-categories a,
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post-tags a,
#lc-20a44321 .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post-tags a,
#lc-20a44321 .qms-blog-category-list-module a,
#lc-20a44321 .qms-blog-tag-list-module a,
#lc-20a44321 .qms-blog-archive-module a,
#lc-20a44321 .qms-blog-archive-module li,
#lc-20a44321 .qms-testimonials-module .quote-card a,
#lc-20a44321 .qms-food-menu-module a,
#lc-20a44321 .qms-search-form a,
#lc-20a44321 .qms-testimonials-module .quote-card a *,
#lc-20a44321 .qms-food-menu-module a * {
    color: #fff
}

#lc-20a44321 .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-description a,
#lc-20a44321 .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-description a,
#lc-20a44321 .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-description a *,
#lc-20a44321 .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-description a * {
    color: #ffffff !important
}

#lc-20a44321 .lc-section-overlay {
    background-color: rgba(8, 19, 28, .6)
}

#lc-2c15f2cb {
    --section-heading-color: #08131c;
    --section-font-color: #08131c;
    --section-links-color: #2477bf;
    background-color: #d4e4f2;
    --section-background-color: #d4e4f2
}

#lc-2c15f2cb .lc-heading-size-1,
#lc-2c15f2cb .lc-heading-size-2,
#lc-2c15f2cb .lc-heading-size-3,
#lc-2c15f2cb .lc-heading-size-4,
#lc-2c15f2cb .lc-heading-size-5,
#lc-2c15f2cb .lc-heading-size-6,
#lc-2c15f2cb .lc-heading-size-custom,
#lc-2c15f2cb .lc-blog-title,
#lc-2c15f2cb .qms-simple-text-module h1,
#lc-2c15f2cb .qms-simple-text-module h2,
#lc-2c15f2cb .qms-simple-text-module h3,
#lc-2c15f2cb .qms-simple-text-module h4,
#lc-2c15f2cb .qms-simple-text-module h5,
#lc-2c15f2cb .qms-simple-text-module h6,
#lc-2c15f2cb .qms-simple-form-module h4,
#lc-2c15f2cb .qms-simple-form-module .lc-heading-separator,
#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-title,
#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-title a,
#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-title,
#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-title a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post .qms-blog-post-title a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post .qms-blog-post-title a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post .qms-blog-post-title a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post .qms-blog-post-title a,
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post .qms-blog-post-title a,
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post .qms-blog-post-title a,
#lc-2c15f2cb .qms-food-menu-module h1,
#lc-2c15f2cb .qms-food-menu-module h2,
#lc-2c15f2cb .qms-food-menu-module h3,
#lc-2c15f2cb .qms-food-menu-module h4,
#lc-2c15f2cb .qms-food-menu-module h5,
#lc-2c15f2cb .qms-food-menu-module h6,
#lc-2c15f2cb .qms-search-results h4,
#lc-2c15f2cb .qms-search-results h4 a {
    color: #08131c
}

#lc-2c15f2cb .qms-simple-text-module *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-simple-form-module .field_name,
#lc-2c15f2cb .qms-simple-form-module .rx-label,
#lc-2c15f2cb .qms-simple-form-module .css-label-form,
#lc-2c15f2cb .qms-simple-form-module .lc-form-recaptcha-branding,
#lc-2c15f2cb .qms-simple-form-module .lc-form-recaptcha-branding a,
#lc-2c15f2cb .qms-testimonials-module .quote-card *:not(a),
#lc-2c15f2cb .qms-testimonials-module .quote-card:before,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item *:not(a),
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-accordion .qms-advanced-content-title,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-accordion .card .title:after,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-accordion .qms-advanced-content-title:after,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item *:not(a),
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .nav-tabs .qms-advanced-content-title,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs a.qms-advanced-content-title,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .qms-advanced-content-title:after,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-list *:not(a),
#lc-2c15f2cb .qms-advanced-content-module .limecube-list .qms-advanced-content-title,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-def-list *:not(a),
#lc-2c15f2cb .qms-before-and-after-gallery-module .qms-ba-gallery-heading *,
#lc-2c15f2cb .qms-before-and-after-gallery-module .qms-ba-gallery-description *:not(a),
#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-under-image *:not(a):not(.lc-button):not(.lc-button span):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-next-to-image *:not(a):not(.lc-button):not(.lc-button span):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-no-posts,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-food-menu-module *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-2c15f2cb .qms-search-results-page-description,
#lc-2c15f2cb .qms-grid-gallery-module .qms-grid-gallery-tags li,
#lc-2c15f2cb .qms-blog-post-info *,
#lc-2c15f2cb .lc-blog-word-count,
#lc-2c15f2cb .lc-comments-container .lc-comments-count>h5,
#lc-2c15f2cb .lc-comments-container .lc-snet-signin-help-text,
#lc-2c15f2cb .lc-comments-container .lc-form-recaptcha-branding,
#lc-2c15f2cb .lc-comments-container .lc-form-recaptcha-branding a,
#lc-2c15f2cb .lc-comments-container .lc-blog-post-comments * {
    color: #08131c
}

#lc-2c15f2cb .qms-simple-text-module table tr,
#lc-2c15f2cb .qms-simple-text-module table td,
#lc-2c15f2cb .qms-simple-form-module .qms-button,
#lc-2c15f2cb .qms-simple-form-module .qms-button:hover,
#lc-2c15f2cb .qms-simple-form-module .qms-button:active,
#lc-2c15f2cb .qms-simple-form-module .qms-button:focus,
#lc-2c15f2cb .qms-simple-form-module .qms-button:visited,
#lc-2c15f2cb .lc-separator hr,
#lc-2c15f2cb .qms-spacer-divider-module hr {
    color: #08131c;
    border-color: #08131c
}

#lc-2c15f2cb .qms-testimonials-module .bx-wrapper .bx-pager.bx-default-pager a,
#lc-2c15f2cb .qms-advanced-accordion .qms-advanced-content-card,
#lc-2c15f2cb .qms-advanced-content-module .limecube-list>.title-line,
#lc-2c15f2cb .qms-advanced-content-module .limecube-list>.content-line,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .tab-content,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li.active,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li>a,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li>a:focus,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li>a:hover,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li:after,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .tab-content .tab-pane>.qms-advanced-content-card {
    border-color: #08131c
}

#lc-2c15f2cb .qms-testimonials-module .bx-wrapper .bx-pager.bx-default-pager a.active,
#lc-2c15f2cb .qms-testimonials-module .bx-prev::before,
#lc-2c15f2cb .qms-testimonials-module .bx-prev::after,
#lc-2c15f2cb .qms-testimonials-module .bx-next::before,
#lc-2c15f2cb .qms-testimonials-module .bx-next::after {
    background-color: #08131c;
    border-color: #08131c
}

#lc-2c15f2cb .lc-blog-word-count svg {
    fill: #08131c
}

#lc-2c15f2cb .lc-heading-size-1 a,
#lc-2c15f2cb .lc-heading-size-1 a em,
#lc-2c15f2cb .lc-heading-size-1 a strong,
#lc-2c15f2cb .lc-heading-size-2 a,
#lc-2c15f2cb .lc-heading-size-2 a em,
#lc-2c15f2cb .lc-heading-size-2 a strong,
#lc-2c15f2cb .lc-heading-size-3 a,
#lc-2c15f2cb .lc-heading-size-3 a em,
#lc-2c15f2cb .lc-heading-size-3 a strong,
#lc-2c15f2cb .lc-heading-size-4 a,
#lc-2c15f2cb .lc-heading-size-4 a em,
#lc-2c15f2cb .lc-heading-size-4 a strong,
#lc-2c15f2cb .lc-heading-size-5 a,
#lc-2c15f2cb .lc-heading-size-5 a em,
#lc-2c15f2cb .lc-heading-size-5 a strong,
#lc-2c15f2cb .lc-heading-size-6 a,
#lc-2c15f2cb .lc-heading-size-6 a em,
#lc-2c15f2cb .lc-heading-size-6 a strong,
#lc-2c15f2cb .lc-heading-size-custom a,
#lc-2c15f2cb .lc-heading-size-custom a em,
#lc-2c15f2cb .lc-heading-size-custom a strong,
#lc-2c15f2cb .qms-simple-text-module a,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item a,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item a,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-list a,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-def-list a,
#lc-2c15f2cb .qms-before-and-after-gallery-module .qms-ba-gallery-description a,
#lc-2c15f2cb .qms-simple-text-module a strong,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item a strong,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item a strong,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-list a strong,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-def-list a strong,
#lc-2c15f2cb .qms-before-and-after-gallery-module .qms-ba-gallery-description a strong,
#lc-2c15f2cb .qms-simple-text-module a em,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item a em,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item a em,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-list a em,
#lc-2c15f2cb .qms-advanced-content-module.qms-advanced-def-list a em,
#lc-2c15f2cb .qms-before-and-after-gallery-module .qms-ba-gallery-description a em,
#lc-2c15f2cb .qms-search-results-page-link a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post-excerpt a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post-excerpt a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post-excerpt a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post-excerpt a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post-categories a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post-categories a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post-categories a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post-categories a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post-tags a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post-tags a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post-tags a,
#lc-2c15f2cb .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post-tags a,
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post-excerpt a,
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post-excerpt a,
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post-categories a,
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post-categories a,
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post-tags a,
#lc-2c15f2cb .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post-tags a,
#lc-2c15f2cb .qms-blog-category-list-module a,
#lc-2c15f2cb .qms-blog-tag-list-module a,
#lc-2c15f2cb .qms-blog-archive-module a,
#lc-2c15f2cb .qms-blog-archive-module li,
#lc-2c15f2cb .qms-testimonials-module .quote-card a,
#lc-2c15f2cb .qms-food-menu-module a,
#lc-2c15f2cb .qms-search-form a,
#lc-2c15f2cb .qms-testimonials-module .quote-card a *,
#lc-2c15f2cb .qms-food-menu-module a * {
    color: #2477bf
}

#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-description a,
#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-description a,
#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-description a *,
#lc-2c15f2cb .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-description a * {
    color: #2477bf !important
}

#lc-a66d21fd {
    --section-background-color: transparent
}

#lc-486721fa {
    --section-heading-color: #fff;
    --section-font-color: #fff;
    --section-links-color: #fff;
    background-color: #08131c;
    background-image: url(https://storage.googleapis.com/limecube-live-0fa6e598/thumb%2Fpexels-images%2F1734629458_w1920_fcover.webp);
    --section-background-color: #08131c
}

#lc-486721fa .lc-heading-size-1,
#lc-486721fa .lc-heading-size-2,
#lc-486721fa .lc-heading-size-3,
#lc-486721fa .lc-heading-size-4,
#lc-486721fa .lc-heading-size-5,
#lc-486721fa .lc-heading-size-6,
#lc-486721fa .lc-heading-size-custom,
#lc-486721fa .lc-blog-title,
#lc-486721fa .qms-simple-text-module h1,
#lc-486721fa .qms-simple-text-module h2,
#lc-486721fa .qms-simple-text-module h3,
#lc-486721fa .qms-simple-text-module h4,
#lc-486721fa .qms-simple-text-module h5,
#lc-486721fa .qms-simple-text-module h6,
#lc-486721fa .qms-simple-form-module h4,
#lc-486721fa .qms-simple-form-module .lc-heading-separator,
#lc-486721fa .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-title,
#lc-486721fa .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-title a,
#lc-486721fa .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-title,
#lc-486721fa .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-title a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post .qms-blog-post-title a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post .qms-blog-post-title a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post .qms-blog-post-title a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post .qms-blog-post-title a,
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post .qms-blog-post-title a,
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post .qms-blog-post-title a,
#lc-486721fa .qms-food-menu-module h1,
#lc-486721fa .qms-food-menu-module h2,
#lc-486721fa .qms-food-menu-module h3,
#lc-486721fa .qms-food-menu-module h4,
#lc-486721fa .qms-food-menu-module h5,
#lc-486721fa .qms-food-menu-module h6,
#lc-486721fa .qms-search-results h4,
#lc-486721fa .qms-search-results h4 a {
    color: #fff
}

#lc-486721fa .qms-simple-text-module *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-simple-form-module .field_name,
#lc-486721fa .qms-simple-form-module .rx-label,
#lc-486721fa .qms-simple-form-module .css-label-form,
#lc-486721fa .qms-simple-form-module .lc-form-recaptcha-branding,
#lc-486721fa .qms-simple-form-module .lc-form-recaptcha-branding a,
#lc-486721fa .qms-testimonials-module .quote-card *:not(a),
#lc-486721fa .qms-testimonials-module .quote-card:before,
#lc-486721fa .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item *:not(a),
#lc-486721fa .qms-advanced-content-module.qms-advanced-accordion .qms-advanced-content-title,
#lc-486721fa .qms-advanced-content-module.qms-advanced-accordion .card .title:after,
#lc-486721fa .qms-advanced-content-module.qms-advanced-accordion .qms-advanced-content-title:after,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item *:not(a),
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .nav-tabs .qms-advanced-content-title,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs a.qms-advanced-content-title,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .qms-advanced-content-title:after,
#lc-486721fa .qms-advanced-content-module.qms-advanced-list *:not(a),
#lc-486721fa .qms-advanced-content-module .limecube-list .qms-advanced-content-title,
#lc-486721fa .qms-advanced-content-module.qms-advanced-def-list *:not(a),
#lc-486721fa .qms-before-and-after-gallery-module .qms-ba-gallery-heading *,
#lc-486721fa .qms-before-and-after-gallery-module .qms-ba-gallery-description *:not(a),
#lc-486721fa .qms-box-module .qms-box-module-layout-text-under-image *:not(a):not(.lc-button):not(.lc-button span):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-box-module .qms-box-module-layout-text-next-to-image *:not(a):not(.lc-button):not(.lc-button span):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-no-posts,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-food-menu-module *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
#lc-486721fa .qms-search-results-page-description,
#lc-486721fa .qms-grid-gallery-module .qms-grid-gallery-tags li,
#lc-486721fa .qms-blog-post-info *,
#lc-486721fa .lc-blog-word-count,
#lc-486721fa .lc-comments-container .lc-comments-count>h5,
#lc-486721fa .lc-comments-container .lc-snet-signin-help-text,
#lc-486721fa .lc-comments-container .lc-form-recaptcha-branding,
#lc-486721fa .lc-comments-container .lc-form-recaptcha-branding a,
#lc-486721fa .lc-comments-container .lc-blog-post-comments * {
    color: #fff
}

#lc-486721fa .qms-simple-text-module table tr,
#lc-486721fa .qms-simple-text-module table td,
#lc-486721fa .qms-simple-form-module .qms-button,
#lc-486721fa .qms-simple-form-module .qms-button:hover,
#lc-486721fa .qms-simple-form-module .qms-button:active,
#lc-486721fa .qms-simple-form-module .qms-button:focus,
#lc-486721fa .qms-simple-form-module .qms-button:visited,
#lc-486721fa .lc-separator hr,
#lc-486721fa .qms-spacer-divider-module hr {
    color: #fff;
    border-color: #fff
}

#lc-486721fa .qms-testimonials-module .bx-wrapper .bx-pager.bx-default-pager a,
#lc-486721fa .qms-advanced-accordion .qms-advanced-content-card,
#lc-486721fa .qms-advanced-content-module .limecube-list>.title-line,
#lc-486721fa .qms-advanced-content-module .limecube-list>.content-line,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .tab-content,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li.active,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li>a,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li>a:focus,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li>a:hover,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .nav-tabs>li:after,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .tab-content .tab-pane>.qms-advanced-content-card {
    border-color: #fff
}

#lc-486721fa .qms-testimonials-module .bx-wrapper .bx-pager.bx-default-pager a.active,
#lc-486721fa .qms-testimonials-module .bx-prev::before,
#lc-486721fa .qms-testimonials-module .bx-prev::after,
#lc-486721fa .qms-testimonials-module .bx-next::before,
#lc-486721fa .qms-testimonials-module .bx-next::after {
    background-color: #fff;
    border-color: #fff
}

#lc-486721fa .lc-blog-word-count svg {
    fill: #fff
}

#lc-486721fa .lc-heading-size-1 a,
#lc-486721fa .lc-heading-size-1 a em,
#lc-486721fa .lc-heading-size-1 a strong,
#lc-486721fa .lc-heading-size-2 a,
#lc-486721fa .lc-heading-size-2 a em,
#lc-486721fa .lc-heading-size-2 a strong,
#lc-486721fa .lc-heading-size-3 a,
#lc-486721fa .lc-heading-size-3 a em,
#lc-486721fa .lc-heading-size-3 a strong,
#lc-486721fa .lc-heading-size-4 a,
#lc-486721fa .lc-heading-size-4 a em,
#lc-486721fa .lc-heading-size-4 a strong,
#lc-486721fa .lc-heading-size-5 a,
#lc-486721fa .lc-heading-size-5 a em,
#lc-486721fa .lc-heading-size-5 a strong,
#lc-486721fa .lc-heading-size-6 a,
#lc-486721fa .lc-heading-size-6 a em,
#lc-486721fa .lc-heading-size-6 a strong,
#lc-486721fa .lc-heading-size-custom a,
#lc-486721fa .lc-heading-size-custom a em,
#lc-486721fa .lc-heading-size-custom a strong,
#lc-486721fa .qms-simple-text-module a,
#lc-486721fa .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item a,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item a,
#lc-486721fa .qms-advanced-content-module.qms-advanced-list a,
#lc-486721fa .qms-advanced-content-module.qms-advanced-def-list a,
#lc-486721fa .qms-before-and-after-gallery-module .qms-ba-gallery-description a,
#lc-486721fa .qms-simple-text-module a strong,
#lc-486721fa .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item a strong,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item a strong,
#lc-486721fa .qms-advanced-content-module.qms-advanced-list a strong,
#lc-486721fa .qms-advanced-content-module.qms-advanced-def-list a strong,
#lc-486721fa .qms-before-and-after-gallery-module .qms-ba-gallery-description a strong,
#lc-486721fa .qms-simple-text-module a em,
#lc-486721fa .qms-advanced-content-module.qms-advanced-accordion .advanced-content-item a em,
#lc-486721fa .qms-advanced-content-module.qms-advanced-tabs .advanced-content-item a em,
#lc-486721fa .qms-advanced-content-module.qms-advanced-list a em,
#lc-486721fa .qms-advanced-content-module.qms-advanced-def-list a em,
#lc-486721fa .qms-before-and-after-gallery-module .qms-ba-gallery-description a em,
#lc-486721fa .qms-search-results-page-link a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post-excerpt a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post-excerpt a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post-excerpt a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post-excerpt a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post-categories a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post-categories a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post-categories a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post-categories a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical .qms-blog-post-tags a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-vertical-alternate .qms-blog-post-tags a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-horizontal .qms-blog-post-tags a,
#lc-486721fa .qms-blog-summary-module .qms-blog-summary-masonry .qms-blog-post-tags a,
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post-excerpt a,
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post-excerpt a,
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post-categories a,
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post-categories a,
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-vertical .qms-blog-post-tags a,
#lc-486721fa .qms-blog-feed-module .qms-blog-feed-horizontal .qms-blog-post-tags a,
#lc-486721fa .qms-blog-category-list-module a,
#lc-486721fa .qms-blog-tag-list-module a,
#lc-486721fa .qms-blog-archive-module a,
#lc-486721fa .qms-blog-archive-module li,
#lc-486721fa .qms-testimonials-module .quote-card a,
#lc-486721fa .qms-food-menu-module a,
#lc-486721fa .qms-search-form a,
#lc-486721fa .qms-testimonials-module .quote-card a *,
#lc-486721fa .qms-food-menu-module a * {
    color: #fff
}

#lc-486721fa .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-description a,
#lc-486721fa .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-description a,
#lc-486721fa .qms-box-module .qms-box-module-layout-text-under-image .qms-box-module-item-description a *,
#lc-486721fa .qms-box-module .qms-box-module-layout-text-next-to-image .qms-box-module-item-description a * {
    color: #ffffff !important
}

#lc-486721fa .lc-section-overlay {
    background-color: rgba(8, 19, 28, .6)
}

#lc-5a73b189 {
    --section-background-color: transparent
}